.headerContainer {
  width: 100%;
  background-color: cornflowerblue;
  text-align: center;
  height: 180px;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.headerContainer h1 {
  line-height: 200px;
  text-align: center;
}